script.
    // App.pug
    import TestComponent from "./TestComponent.pug"
    import {Config as C} from "../config/config.js"
    import {Util as U} from "./Util.js"
    
    let views = ["navigation", "player", "song-history", "themes"]
    let themes = ["default", "Poizon", "Depeche", "Nitzer", "Pink"]
    

    let arrow = "//"
    let isPlayerOn = false
    var currentView = views[0]
    let currentTheme = themes[0]
    let nowPlaying = {}
    let pastSongs = []

    const setView = (viewId) => currentView = viewId
    const setTheme = (themeId) => currentTheme = themeId

    const togglePlay = () => isPlayerOn = !isPlayerOn

    U.ServiceUtil.loadData(C.dataSource.url).then((data) => {
        if(data && data[0]) {
            nowPlaying = U.SongUtil.parseSong(data[0]["now_playing"])
            pastSongs = data[0]["song_history"].map( el => U.SongUtil.parseSong(el))
        }
    })

main.main(class="theme theme-{currentTheme}")
    header.top(class="{isPlayerOn ? 'eq' : ''}")
        nav.nav
            i.material-symbols-outlined("on:click"="{function(){ setView('navigation')}}") menu
        .song-info
            section
                p currently playing 
                .song {nowPlaying.songTitle}
                .band by 
                    span.band-name {nowPlaying.bandName} /{nowPlaying.length}/

        .search
            i.material-symbols-outlined search
    
    section.view.view-navigation(style="display:{currentView=='navigation' ? 'block' : 'none'}")
        ul.generic-list
            li 
                span.nav-item("on:click"="{function(){setView('player')}}")
                    span.arrow {arrow} 
                    span Player
            
            li 
                span.nav-item 
                    span.arrow  {arrow} 
                    span Artists
            
            li 
                span.nav-item("on:click"="{function(){setView('song-history')}}")
                    span.arrow {arrow} 
                    span Song History

            li 
                span.nav-item("on:click"="{function(){setView('themes')}}")
                    span.arrow  {arrow} 
                    span Themes

            li 
                span.nav-item 
                    span.arrow  {arrow} 
                    span Contact

    section.view.view-player(style="display:{currentView=='player' ? 'block' : 'none'}")
        .player
            .vinyl(class="{isPlayerOn ? 'on' : 'off' }")
                img(src="./img/only-gear-final.png" alt="I247")
            
            .actions 
                i.material-symbols-outlined("on:click"="{togglePlay}" class="{isPlayerOn ? 'pause_circle' : 'play_circle'}") {isPlayerOn ? 'pause_circle' : 'play_circle'}

    section.view.song-history(style="display:{currentView=='song-history' ? 'block' : 'none'}")
        ul.generic-list
            {#each pastSongs as song}
              li
                span.ordernum
                    i.material-symbols-outlined.invert.small search
                span.song-title {song.songTitle} by {song.bandName}
                span.song-length {song.length}

    section.view.view-themes(style="display:{currentView=='themes' ? 'block' : 'none'}")
        ul.generic-list
            {#each themes as theme} 
              li.theme 
                span.nav-item("on:click"="{function(){setTheme(theme)}}")
                    span.arrow(class="{currentTheme == theme ? 'active' : ''}") {arrow} 
                    span {theme}

    footer.bottom
        p Made with &#10084; and :)